<div class = "row" class="trips">

	<div class="large-10 large-offset-1 columns">
		<h1 class="page-title">Popular trips</h1>
	</div>

</div>

<div class = "row">
		<div class="large-6 large-offset-1 columns">
		<%= form_tag trips_path, method: :get, remote: true, id: "search-from" do %>
		<%= text_field_tag :search, params[:search], placeholder: "Show me trips from ...", class: "search-field" %>
		<% end %>
	</div>
</div>

<div class = "row">
	<div class="large-10 large-offset-1 columns">
		<div class="trips-index">
			<%= render @trips %>
		</div>
	</div>
</div>