<div class="trip-cover-photos">
<small class="label">Select Your Cover Photo</small>
<% if @trip.post_attachments.any? %>
  <ul class="thumbnails">
  <% @trip.post_attachments.each do |pic| %>
    <li class="thumbnail" id="post-photo-<%= pic.id %>">

      <%= link_to create_cover_trip_path(id: @trip.id, pid: pic.id), method: :post, class: "set-cover-photo-link" do %>
        <%= image_tag pic.postimage_url(:thumb), class: "thumbnail-image" %>
      <% end %>

    </li>
  <% end %>
  </ul>
<% end %>
</div>