<div class="large-4 large-offset-1 columns ">
	<h1 class="title"><%= link_to trip_plan.title, trip_plan, class: "link" %></h1>
	<div class="date"><%=  %></div>
	<% if trip_plan.plan_items.any? %>
        <div class="cover-map" data-objects="<%= posts_in_json(trip_plan.plan_items) %>"></div>
  <% end %>