<div class="summary">
  <div class="information">
    <h1 class="title"><%= link_to chapter.title, [chapter.trip, chapter], class: "link" %></h1>
    <div class="date"><%= trip_date(chapter) %></div>
  </div>
  <div class="cover-photo" data-image-url="<%= image_url(chapter.cover_photo) %>"></div>
  <div class="cover-map" data-objects="<%= posts_in_json(chapter.posts) %>"></div>
</div>