<div class="summary">
  <div class="information">
    <h1 class="title"><%= link_to post.title, [post.trip, post.chapter, post], class: "link" %></h1>
    <div class="date"><%= post.date.to_date.to_formatted_s(:long) %></div>
  </div>
  <div class="cover-photo" data-image-url="<%= image_url(post.cover_photo) %>"></div>
  <div class="cover-map" data-objects="<%= posts_in_json(post) %>"></div>
</div>