<ul class="menu">
  <li><%= link_to 'Featured Trips', trips_path, class: 'btn' %></li>
  <li><%= link_to 'Sign In', :signin, class: "btn", remote: true %></li>
  <li><%= link_to 'Sign Up', :signup, class: "btn" %></li>
</ul>

