<div class="inspiration-list">

	<div class="inspiration-trips">
		<h1>Trips You Found Inspiring</h1>
		<%= render @trips %>
	</div>

	<div class="inspiration-chapters">

	</div>

	<div class="inspiration-posts">

	</div>


</div>