<div class="inspiration-list">

	<div class="inspiration-trips">
		<h1>Trips You Found Inspiring</h1>
			<%= render @trips %>
	</div>

	<div class="inspiration-chapters">
		<h1>Chapters You Found Inspiring</h1>

	</div>

	<div class="inspiration-posts">
		<h1>Posts You Found Inspiring</h1>

	</div>


</div>