<% provide :page_title, "My trips" %>


<div class="row trip-content">
	<div class="large-10 large-offset-1 columns">
		<h1 class = "page-title">My trips</h1>
	</div>
</div>


<div class="row trip-content">

	<div class="large-10 large-offset-1 columns">

	<% @trips.each do |t| %>
  	<%= render 'templates/trip_summary', trip: t %>
	<% end %>
</div>

</div>