<% provide :page_title, "My trip plans" %>

<h1 class = "my-trip-plans-title large-11 large-offset-1 columns">My trip plans</h1>

<div class="my-trip-plans large-11 large-offset-1 columns ">
	<%= render @trip_plans %>
</div>