<div class="row">

	<div class="large-3 large-offset-1 columns">

		<div class="user">
			<%= render @user %>
		</div>

	</div>

	<div class="large-8 columns">

		<div class="users-trips">
			<h1 class = "page-title">Your Trips</h1>
			<%= render @trips %>
		</div>

	</div>

</div>