<div class="user">
	<%= render @user %>
</div>

<div class="users-trips">
	<h1>Your Trips</h1>
		<% @trips.each do |t| %>
	  <%= render 'templates/trip_summary', t: t %>
		<% end %>
</div>

<div class="user-feed">


</div>

