<div id="welcome" class="jumbo">
  <div class="background"></div>

  <div class="welcome-text">
  	Mondiale helps you tell your travel story.</div>

  <div class="search-bar">
    <%= text_field_tag 'search', '', class: "search",
        placeholder: "Where to?"  %>
    <span class="fa fa-search"></span>
  </div>
</div>

<div class="featured-trips">
  <h2 class="title">Featured</h2>

</div>