<div id="welcome" class="jumbo">
  <div id="background-image"><div id="blur"></div></div>
  <h1 class="title">
    <%= site_name %>
  </h1>
  <div class="tag">
    Tell your travel story.
  </div>
  <div class="search-bar">

    <%= form_tag trips_path, method: :get, remote: true, id: "search" do %>
      <%= text_field_tag :search, params[:search],
          placeholder: "Show me stories from ..." %>
    <% end %>
    <span class="fa fa-search"></span>

  </div>
</div>

<div class="row trips-index">

</div>