$('#b_<%= @breakpoint.id %>' ).replaceWith('<%=escape_javascript( render @breakpoint )%>');
$('#target').html('Funds raised: <%= escape_javascript(@campaign.total_funds_raised.to_s) %>');
$('#percent').html('Percent: <%= escape_javascript(@campaign.percent_funds_raised.to_s) %>');