<header class="navbar">
  <a href="/" class="nav-brand">Mondiale</a>
  <% if logged_in? %>
    <%= render 'header/user_menu' %>
  <% else %>
    <%= render 'header/guest_menu' %>
  <% end %>
</header>