		<li>Signed in as <%= current_user.name %></li>
    <li><%= link_to 'new trip', new_trip_path %></li>
    <li><%= link_to 'sign out', :signout %></li>
    <li><%= link_to 'view trips', trips_path %></li>