<ul class="nav-menu">
  <li><%= link_to 'Post Your Trip', new_trip_path, class: "btn" %></li>
  <li><%= link_to 'Edit Profile', edit_user_path(current_user), class: "btn" %></li>
  <li><%= link_to 'Sign Out', :signout, class: "btn" %></li>
</ul>