<% provide :page_title, "Chapter" %>

<p><%= link_to "create a new post", new_trip_chapter_post_path(@trip, @chapter) %></p>

<h2>Chapter <%= @chapter.id %>: <%= @chapter.title %></h2>

<%= render @posts %>

