@mixin chapter-form {
 @include form-template
}

#chapter.form {
  @include chapter-form();
  width: 100%;
}
#chapter.form-float {
  @include chapter-form();
  width: 80%;
  .form-container {
    margin: 0px;
    width: 100%;
  }
}