#new-trip {
  width: 100%;
  height: 100%;

  .form-container {
    margin: 20px auto;
    width: 80%;
  }

  .form-title {
    background: $black;
    font-weight: 800;
  }
  .form-field {
    width: 100%;
    margin: 0px;

    .form-input {
      width: 100%;
      padding: 5px 15px;
      outline: none;
      border: 1px solid $black + 50;
      &:hover, &:focus, &:active {
        border: 1px solid $blue;
      }
    }
    #trip_title {
      font-size: 2em;
      font-weight: 800;
    }
    #trip_description {
      font-size: 1em;
      font-weight: 100;
    }
    .form-btn {
      @include btn_color($black + 100, $blue - 50);
      width: 49.8%;
      display: inline-block;
    }
  }

}

#trip-form {

  .form-field {
    margin: -2px 0px;
    color: $black;
  }

  #trip_title {
    padding: 7px 15px;
    width: 100%;
    outline: none;
    border: none;
    font-weight: 800;
    font-size: 2.5em;
    &:hover, &:focus, &:active {

    }
  }

  #trip_description {
    overflow: scroll;
    margin: -2px 0px;
    padding: 15px;
    width: 100%;
    height: 15em;
    outline: none;
    border: none;
    font-weight: 400;
    font-size: 1em;
    resize: none;
    &:hover, &:focus, &:active {

    }
  }

  .form-btn {
    @include btn($black + 50);
    margin-top: -2px;
    &:first-of-type { margin-left: 0px; }
  }


}
