@mixin post-form() {
  @include form-template();
  #post_location {
    top: 1px;
    position: relative;
    display: inline-block;
    width: 39%;
    border: 1px solid rgba(235, 235, 235, 1);
  }
  select {
    display: inline-block;
    width: 19%;
  }
}

#post.form {
  @include post-form();
  width: 100%;

}
#post.form-float {
  @include post-form();
  width: 80%;
  .form-container {
    margin: 0px;
    width: 100%;
  }
}