$form-width: 500px;

#signin.form {
  position: fixed;
  z-index: 99;
  padding: 40px;
  padding-bottom: 20px;
  min-width: 400px;
  max-width: 800px;
  background: $white;
  box-shadow: 0 0 6px -2px rgba(40, 40, 40, 0.5);
  color: $black;

  .form-title {
    display: block;

    width: 100%;
    text-align: right;
    font-weight: 800;
    font-size: 2em;
  }

  .form-btn {
    @include btn-light($white - 50, 1);
    display: inline-block;
    &:first-of-type {
      margin-left: 0px;
    }
  }
}
