@mixin alert($color: $black) {
  position: relative;
  display: block;
  z-index: 1;
  padding: 3px 15px;
  color: darken($color, 50%);
  background: $color;

  .close {
    display: block;
    padding: 1px 5px 2px;
    position: absolute;
    top: 5px;
    right: 10px;
    color: $color;
    background: darken($color, 50%);
  }
  p {
    margin-left: 60px;
    margin-bottom: 0px;
  }
  ul {
    margin-bottom: 0px;
  }
}

[class*='alert'] + .content, #welcome {
}

.alert-info { @include alert($blue); }
.alert-success { @include alert($green); }
.alert-warning { @include alert($yellow); }
.alert-danger { @include alert($red); }