@mixin alert($color: $black) {
  position: relative;
  // position: fixed;
  left: -1px;
  z-index: 5;
  display: none;
  padding: 15px;
  width: calc(100% + 2px);
  background: $color;
  color: lighten($color, 70%);
  word-wrap: break-word;
  font-size: 1em;

  li {
    word-wrap: break-word;
  }

  .close {
    @include animation;
    position: absolute;
    top: 20%;
    right: 15px;
    display: block;
    float: right;
    padding-bottom: 4px;
    border: none;
    border-radius:100%;
    background: $color + 200;
    color: $color;

    &:hover {
      background: darken($color, 50%);
      box-shadow: none;
      color: $color;
    }
  }
}

[class*='alert'] + .content, #welcome {
  margin-top: -106px;
}

.alert-info { @include alert($blue); }
.alert-success { @include alert($green); }
.alert-warning { @include alert($yellow); }
.alert-danger { @include alert($red); }