$form-width: 500px;

@mixin form($color: $blue, $width: $form-width) {
  position: relative;
  width: $width;

  .form-container {
    padding-bottom: 10px;
    background: $white;
    box-shadow: 0 0 6px -3px rgba(60, 60, 60, 0.5);
  }

  .form-title {
    padding: 5px 15px;
    width: 100%;
  }

  .form-title {
    padding: 5px 15px;
    width: 100%;
    background: darken($color, 30%);
    color: $white;
    font-weight: 800;
    font-size: 3em;
  }

  .form-field {
    display: block;
    margin-top: 15px;

    .form-label {
      position: relative;
      display: inline-block;
      padding-right: 10px;
      width: 100px;
      text-align: right;
    }

    .form-control {
      position: relative;
      display: inline-block;
      width: calc(100% - 110px);
    }

    .form-input {
      display: inline-block;
      box-shadow: inset 2px 2px 6px -4px rgba(60, 60, 60, 0.5);
    }

    textarea {
      resize: vertical;
      vertical-align: text-top;
      height: 200px;
    }

    .form-btn {
      @include btn(darken($blue, 30%), 14px, 1);
      display: inline-block;
    }

  }

  .form-container {
    .form-field {
      .field_with_errors {
        display: inline-block;
        vertical-align: top;
        .form-label {
          color: $red - 100;
          font-weight: 400;
        }
      }
      .form-control .field_with_errors {
        width: 100%;
        input, textarea, select {
          border: 1px solid $red - 100;
        }
      }
    }
  }
}

.signin-form {
  @include form($blue, 400px);
  position: fixed;
  z-index: 10;
}