@mixin google-map($width: 320px, $height: $width) {
  position: absolute;
  width: $width;
  height: $height;
  border: 5px solid $white;
  box-shadow: 0 0 6px -3px rgba(40, 40, 40, 0.5);

  .post-summary {
    position: relative;
    min-width: 200px;

    .title {
      position: relative;
      font-weight: 800;
      font-size: 24px;
      font-family: 'Open Sans';
    }
    .content {
      position: relative;
      background: transparent;
      box-shadow: none;
      font-size: 12px;
    }
    .link {
      position: relative;
      display: block;
      float: right;
    }
  }
}

