.navbar {
  background: rgba(80, 80, 80, 0.2);
  box-shadow: 0 0 6px -3px rgba(80, 80, 80, 0.7);

  .nav-brand {
    position: relative;
    top: 0px;
    display: inline-block;
    padding: 5px 15px;
    height: $header-height;
    color: $white;
    text-decoration: none;
    font-weight: 800;
    font-size: 3em;
    font-family: 'Nixie One', cursive;
    &:hover {
      background: rgba(80, 80, 80, 0.2);
    }
  }

  .nav-menu {
    display: inline-block;
    float: right;
    padding: 5px 0px;
    height: $header-height;
    li {
      text-align: center;
      display: inline-block;
      margin: 0px -2px;
    }
    .btn {
      @include btn($black, 0.75);
      top: -5px;
      padding-top: 20px;
      padding-right: 20px;
      padding-bottom: -20px;
      padding-left: 20px;
      min-width: 160px;
      height: $header-height;
      background: rgba(80, 80, 80, 0.2);
    }

  }

  .dropdown {
    a {
      display: inline-block;
    }
    .gravatar {
      display: inline-block;
      position: relative;
      top: -15px;
      margin-left: 10px;
      vertical-align: top;
    }
  }

  .dropdown-menu {
    position: fixed;
    display: none;
    li {
      display: block;
    }
    .btn {
      background: rgba(80, 80, 80, 0.6);
    }
  }



}