// SITE LAYOUT

.content {
  margin-top: $header-height;
}

.navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100%;
  height: $header-height;
}

#welcome {
  margin-top: - $header-height;
  margin-bottom: $header-height;
}


.form {
  border: 1px solid transparent;
}