.sidebar, .content {
  top: 0px;
  display: inline-block;
}

.sidebar {
  position: fixed;
  left: 0px;
  display: block;
  width: 240px;
  height: 100%;
}

.content {
  position: absolute;
  width: 100%;
  left: 0px;
}