.post {
  position: relative;
  margin-bottom: 40px;

  .control {
    margin-top: 5px;
    display: block;
    top: 10px;
    position: relative;
    a {
      padding: 5px 0px;
      color: $blue;
      &:hover {
        color: $black;
      }
    }
  }
  .fa.fa-heart {
    font-size: 0.9em;
    color: $white;
  }
  .inspired {
    color: $red;
    text-shadow: 0 0 2px rgba(40, 40, 40, 0.5);
  }
}
