.sidebar {
  left: 0px;
  z-index: 1;
  background: $white;

  .site-logo {
    display: block;
    margin-bottom: 10px;
    padding: 10px 15px;
    background: $black;
    color: $white;
    text-shadow: 0 0 2px rgba(40, 40, 40, 0.1);
    font-weight: 800;
    font-size: 3em;
    &:hover {
      background: $blue - 100;
    }
  }
}

.sidebar-toggle {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 10px;
  background: rgba(40, 40, 40, 0.75);
  color: rgba(255, 255, 255, 1);
  font-size: 3em;
  &:hover {
    background: $blue - 100;
    color: $white;
  }
}

.content {
  @include animation(all, 1s, 'ease-in-out');
  left: 0px;
  z-index: 1;
  background: $white;
  box-shadow: -3px 0px 6px -3px rgba(40, 40, 40, 0.5);
}
