.map-container{
	display: inline;
	width: 100%;
	margin-left: 10%;


	.googleMap{
		@include google-map(100%, 400px);
	    position: relative;
	    width:60%;
	    margin-left: 10%;
	}

}
.itinerary{
	display: inline;
	width: 30%;
	margin-top: -430px;
}

.description{
	display: inline;
}

.plan-title{
	width: 100%;
	margin-left: 10%
}

.trip-plan-partial-map{
	display: inline;
	width: 100%;


	.googleMap{
		@include google-map(100%, 240px);
	    position: relative;
	    width:100%;
	}
}