.trips {

  legend.title {
    position: relative;
    top: -17px;
    margin: 0px;
    padding-left: 80px;
    color: $blue - 50;
    font-weight: 800;
    font-size: 4em;
  }
  .search-field {
    position: relative;
    top: -10px;
    z-index: 95;
    float: right;
    margin: 15px 15px;
    min-width: 200px;
    width: 20%;
    outline: none;

    &:hover, &:focus, &:active {
      box-shadow: none;
    }
  }
}


