// .user-profile{
// 	position: relative;
// 	// width: 100%;
// 	margin-top: 5em;

// }

.users-trips{

	// float: left;
	// margin-top: 2em;

}

.user{
	// float: left;
  // padding: 2em;
}

.username {
      font-family: 'Open Sans', sans-serif;
      font-size: 3em;
}

.gravatar {
      margin-left: 1.5em;
}

.userbio{
  	font-family: 'Lusitana', serif;
  	font-size: 1.5em;
  	// border: 1px solid black;
}

.hidden-inspirations{
	display: none;
}

.inspiration-tab{
	color: black;
	font-weight: bold;
	border-style: solid;
	margin-left: 0.5em;
}

.inspiration-list-links{
	margin-left: 5em;
	margin-top: 1em;
}