.user-profile{
	position: relative;
	width: 100%;
	margin-top: 5em;

}

.users-trips{

	width: 80%;
	float: left;
	margin-top: 2em;

	.selector{
		@include btn($black, 16px, 0.75);
      top: -21px;
      padding-top: 20px;
      padding-right: 15px;
      padding-bottom: -20px;
      padding-left: 15px;
      height: $header-height;
      background: rgba(80, 80, 80, 0.2);
      width: 50%;
      display: inline;
      a:link{
      	text-decoration: none;
      	color: $white;
      }
      a:visited{
      	color: $white;
      }
  }
}

.user{
	width: 20%;
	float: left;
      padding: 2em;
}

.username {
      font-family: impact;
      font-size: 3em;
}

.gravatar {
      margin-left: 1.5em;
}

.userbio{
      font-family: Courier New, Courier, monospace;
}