// .user-profile{
// 	position: relative;
// 	// width: 100%;
// 	margin-top: 5em;

// }

.users-trips{
	// width: 80%;
	// float: left;
	// margin-top: 2em;
	.page-title{
		margin-left: 1.5em;
	}
}

.user{
	// float: left;
  // padding: 2em;
}

.username {
      font-family: 'Open Sans', sans-serif;
      font-size: 3em;
}

.gravatar {
      margin-bottom: 1em;
}

.userbio{
  	font-family: 'Lusitana', serif;
  	font-size: 1.5em;

}

.hidden-inspirations{
	display: none;
}

.inspiration-tab{
	@include btn-light($blue,1);
	display: inline-block;
}

.tab-row {

	height: 30px;
	margin-bottom: 10px;
}

.insp-link{
	margin-top: 10px;
	color: #008cba;
	font-family: 'Lusitana', serif;
	font-size: 1em;
}

.insp-link:hover{
	color: #0078a0;
	cursor: pointer;
}