#welcome {
  position: relative;
  z-index: 0;
  margin: 0px auto;
  width: 100%;

  #background-image {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 200px 70px;
    width: 100%;
    height: 100%;
    background: image-url('landing03.jpg') no-repeat center -3em fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
  }
  #blur {
    position: absolute;
    top: 0;
    left: 0;
    padding: -200px -70px;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    opacity: 0;
  }

  .title {
    z-index: 10;
    color: $white;
    text-shadow: 0 -1px 1px rgba(60, 60, 60, 0.5);
    font-weight: bold;
    font-size: 5em;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: -20px;
    margin-left: -5px;
  }
  .tag {
    z-index: 10;
    color: $white;
    margin-bottom: 10px;
    font-size: 2em;
  }
  .search-bar {
    z-index: 10;
    position: relative;
    min-width: 500px;
    max-width: 45%;

    input[type=text] {
      padding: 4px 15px;
      font-size: 1em;
    }
    .fa-search {
      position: absolute;
      right: 15px;
      top: 10px;
      font-size: 1.2em;
      color: $black + 100;
      text-shadow: 0 0 2px rgba(40, 40, 40, 0.5);
    }
  }
}



// .featured-trips {
//   position: relative;
//   width: 100%;
//   height: 800px;
//   h2.title {
//     color: $black;
//     font-weight: 800;
//     font-size: 2em;
//     text-align: center;
//   }
//   h3 {
//     font-size: 1.75em;
//   }
// }


// .recent-trips{
//   margin-top: -3em;
//   padding: 30px;
//   position: relative;
//   float: left;
//   width: 50%;
// }

.featured-trips {
  position: relative;
  width: 100%;
  height: 800px;
  h2.title {
    color: $black;
    text-align: center;
    font-weight: 800;
    font-size: 2em;
  }
  h3 {
    text-decoration: underline;
    font-size: 1.75em;
  }
}


// .top-rated-trips{
//   margin-top: -3em;
//   float: left;
//   padding: 30px;
//   position: relative;
//   width: 50%;
// }

